@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0;
}

.navbar {
  text-align: left;
  background-color: rgb(51, 115, 181);
  color: 'white';
  padding: 15px 5px;
}

.navbar a {
  color: white;
  margin-right: 10px;
}

.navbar h3 {
  color: white;
  display: inline;
  margin-right: 10px;
}

.names {
  font-size: 48px;
  font-weight: 500;
}

#diplomes {
  color: red;
  font-style: italic;
}

.link {
  color: white;
  background-color: dodgerblue;
  padding: 3px 8px;
  border-radius: 8px;
  text-decoration: none;
}

.link:hover {
  background-color: rgba(30, 143, 255, 0.8);
}
